/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    font-family: Vollkorn, serif;
    line-height: 1.5;
    font-size: 1.2em;
    background-color: #B6B6B6;
    color: black;
}

Vollkorn: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.vollkorn-<uniquifier> {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


footer {
    text-align: center;
    padding: 20px;
}

header {
    min-height: 80px;
    text-align: center;
}


h2 {
    color: #1C3051;
    text-align: center;
    margin: 20px;
    font-size: 1.5cm;
}

h1 {
    font-size: 2cm;
    text-align: center;
    color: #111016;
}

h3 {
    text-align: center;
}

img {
    width: 1000px;
}

figure {
    min-height: 80px;
    text-align: center;
}


nav{
    text-align:center;
}

table,
th,
td {
    border: 1px solid rgb(42, 5, 207);
}
table {
    margin: 20px auto;
}
nav{
text-align:center;
font-size:x-large;
}

nav a{
text-decoration: none;
margin-left: 20px;
background-color: rgb(0, 0, 255);
padding: 5px 15px;
color:goldenrod;
border-radius: 10px;
border: 2px solid rgb(255, 0, 0);
}

nav a:hover {
background-color:darkslateblue;
color:greenyellow;
}

/* Reset default list styles */
ul.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Style the lozenge-shaped buttons */
ul.navbar li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 0, 255);
    color: goldenrod;
    text-decoration: none;
    border-radius: 25px;
    /* Adjust the value for the desired roundness */
}

/* Remove underlines on hover and active state */

ul.navbar li a:hover,
ul.navbar li a:active {
    text-decoration: none;
}
/* ********************************Media Queries 
/* For mobile phones: */

/* the media queries are from W3Schools */

/* For mobile phones: */
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #1C3051;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #1C3051;
}

ul.navbar li a:hover{
    background-color:darkslateblue;
    color:greenyellow;
}
ul.navbar li a:active {
    text-decoration: none;
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    ul{
        margin-top: 70px;
    }


    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}