body{
    background: linear-gradient(313deg, rgba(2,0,36,1) 0%, rgba(9,121,20,0.4458158263305322) 35%, rgba(0,212,255,1) 100%);    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 10px;
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
}

header, footer, main, section{
    overflow: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 25px 15px;
    padding: 10px 10px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255,87,34,1.0);
}

h2{
    text-align: center;
    padding: 20px;
    margin: 0px;
}


.container{
    background-color: white;
}

.animals{
    text-align: center;
    background: url("../images/bunnies.jpg") left top no-repeat, url("../images/butterfly.jpg") center top no-repeat, url("../images/chicks.jpg") right top no-repeat, url("../images/elephant.jpg") left bottom no-repeat, url("../images/horses.jpg") center bottom no-repeat, url("../images/owl.jpg") right bottom no-repeat;
    -moz-column-count: 9;
    -moz-column-gap: 4px;
    -webkit-column-count: 9;
    -webkit-column-gap: 7px;
    column-count: 6;
    column-gap: 3px;
}

.animals img{
    vertical-align: center;    
    width: 90%;
    padding: 25px 10px;
    margin: 0px 0px;
}


.foot{
    background-color: rgba(0, 0, 255, 0.2);
    -moz-column-count: 6;
    -moz-column-gap: 12px;
    -webkit-column-count: 6;
    -webkit-column-gap: 12px;
    column-count: 6;
    column-gap: 12px;
}







