/* Set colors for the page */
body{
    background-color: tan;
    color: blue; /*this is the font color*/
    font-size: larger;
    font-family:sans-serif
}

/* create styles for the h1 tag */

/* Sample - pick your own colors and settings. Make sure to include the ; at the end of the line

h1{
    color: teal;
    font-family: serif;
    font-size: larger;
    text-align: center;
}
*/

h1{
    color: purple;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    font-size: x-large;
    text-align: center;
}


/* create styles for the h2 tag */

h2{
    color: purple;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: x-large;
    text-align: center;
}

/* create styles for the h3 tag */

h3{
    color: purple;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: x-large;
    text-align: center;
}

/* create styles for the p tag */

img{
    width: 30%;
    display: block;
    margin: 10px auto; 
    /* this set of 3 commands centers. 10px is spacing top and bottom, auto is left and right*/
}